body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    display: flex;
    background: gray;
}

#mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}

#getPremiumAd {
    display: flex;
    justify-content: center;
}

#getPremiumAd > p {
    background-color: gray;
    border-radius: 25px;
    padding: 4px;
}
#calculatorContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
}
#calculator {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 35vw;
    background-color: rgb(61, 61, 60);
    border: 8px solid rgb(18, 18, 18);
    border-radius: 25px;
    box-sizing: border-box;
}

#topBar {
    flex: 1 1 5%;
    background-color: #2a2e37;
    border-radius: 15px 15px 0 0;
    padding: 8px;
}

#display {
    flex: 1 1 20%;
    background-color: #2a2e37;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 32px;
    gap: 8px;
    padding-right: 8px;
}
#displayInput {
    background-color: #2a2e37;
    border: none;    
    outline: none;
    text-align: end;
    width: 100%;   
    font-size: 32px;
    color: white;
    align-self: start;
}

#result {
    background-color: #2a2e37;
    text-align: end;
    width: 100%;   
    font-size: 32px;
    color: white;
    align-self: start;
}

#buttonContainer {
    flex: 1 1 75%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 8px;
    padding: 8px;
    border-radius: 0 0 15px 15px;
    background-color: #2a2e37;
}
.operationButton {
    flex: 1 1 calc(25% - 8px);
    height: calc(20% - 8px);
    border-radius: 50%;
    background-color: #2f3646;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
